extends layout

block content
  h1= title
  p Welcome to #{title}

  #container.col

  p Please log in with the google account on the <b>#{domain}</b> domain to see the content of the pages

  a(href="/auth/google") Sign In with Google

  p Please log in with the oracle account on the <b>#{domain}</b> domain to see the content of the pages

  a(href="/auth/oauth2") Sign In with Oracle

